@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-background text-foreground;
		font-family: "Inter", sans-serif;
	}

	:root {
		--background: #0d1117;
		--foreground: #c9d1d9;

		--muted: #c7c4c4;
		--muted-foreground: #797b7c;

		--destructive: #cc3333;
		--destructive-foreground: #c9d1d9;
	}
}

.button {
	box-shadow: 0 0 4px 0px var(--foreground);
	color: var(--foreground);
	font-weight: 700;
	border-radius: 9999px;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.button:hover {
	background-color: var(--card);
}
